/* You can add global styles to this file, and also import other style files */

/********************************* Base styles *****************************/
html,
body {
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #06191E;
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    margin: 10px;
    text-align: center;
}

.map-container {
    width: 100% !important;
}

.gm-style .gm-style-iw {
    font-weight: 300;
    font-size: 13px;
    overflow: hidden;
    cursor: pointer;
    color: black;
}


meter::-webkit-meter-bar {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
    border-radius: 3px;
}

meter::-webkit-meter-optimum-value {
    background: #86CC00;
    /* Green */
    border-radius: 3px;
}

meter::-webkit-meter-suboptimum-value {
    background: #FFDB1A;
    /* Yellow */
    border-radius: 3px;
}

meter::-webkit-meter-even-less-good-value {
    background: #CC4600;
    /* Red */
    border-radius: 3px;
}

meter::-webkit-meter-optimum-value {
    background: #86CC00;
}

meter::-webkit-meter-suboptimum-value {
    background: #FFDB1A;
}

meter::-webkit-meter-even-less-good-value {
    background: #CC4600;
}


/* Firefox */
meter::-moz-meter-bar {
    border-radius: 3px;
}

meter:-moz-meter-optimum::-moz-meter-bar {
    background: #86CC00;
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: #FFDB1A;
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: #CC4600;
}